# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

#Mac
.DS_Store
.Trash

#Listing File
*.map
*.lst

#Output File
*.o
*.crf
*.__i
*.d
*.htm
*.tra
*.sct
*.lnp

#log file
*.plg

#bin file
*.hex
*.axf

#Dependencies File
.dep

#Backup File
*.[Bb]ak


